.logo {
    float: left;
    height: 100%;
}

.topnav {
    background-color: rgb(125, 233, 197);
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.topnav ul {
    list-style: none;
    text-align: center;
    padding: 0 0 0 0;
}

.topnav li {
    display: inline-block;
    

}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
    list-style: none;
    transition: 0.3s;

}

.topnav a:hover {
    background-color: white;
    color: black;
}

.foto1 {
    display: inline-block;
    width:100%;
    height: 300px;
    object-fit: cover;
}

.seccion1 {
    display: inline;
    background-color: rgb(63, 221, 168);
    max-height: 300px;
}
@media (max-width:640px){
    .topnav a {
        color: #f2f2f2;
        width: 300px;
        text-align: center;
        padding: 10px 10px;
        text-decoration: none;
        font-size: 17px;
        display: inline-block;
        list-style: none;
        transition: 0.3s;
    }
}
@media (max-width:640px){
    .logo {
        float: left;
        height: auto;
        max-width: fit-content;
        }
}

.rrss {
    display: inline-block;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    list-style: none;
    text-decoration: none;
    background-color: rgb(125, 233, 197);
    align-content: flex-start;
}

.rrss ul li {
    display: inline;
}
.telefono {
    text-align: left;
}

.rescatamos {
    text-align: left;
    }

.facebook {
    float: right;
    width: 50px;
    height: 50px;
    margin: 5px;
}

.instagram {
    float: right;
    width: 50px;
    height: 50px;
    margin: 5px;
}

.google {
    float: right;
    width: 50px;
    height: 50px;
    margin: 5px;
}

.mail {
    float: right;
    width: 50px;
    height: 50px;
    margin: 5px;
}
@media (max-width:718px){
    .telefono {
        display: none !important;
     }

    .rescatamos {
        display: none !important;
    }

    .facebook {
        float: center;
        width: 50px;
        height: 50px;
        margin: 5px;
    }
    
    .instagram {
      float: center;
      width: 50px;
      height: 50px;
      margin: 5px;
    }
    
    .google {
      float: center;
      width: 50px;
      height: 50px;
      margin: 5px;
    }
    
    .mail {
        float: center;
        width: 50px;
        height: 50px;
        margin: 5px;
    }
}
