
.primeraparte {
    background-color: cadetblue;
}

.menu {

    height: 64px;  
    
    }

.menu img {
    height: 100%;
}
.menu > ul{
        height: 100%; 
        margin: 0px;
        padding: 0px;
        display: inline-table;
        height: 100%;
        float: right;
    
    }

.menu > ul > li {
        margin: 10px;
        padding: 0px;
        display: inline-table;
        height: 100%;
        text-align: center;
        

    }
.foto1 {
    height: 100%;
    width: 100%;
}
.parte2 {

} 

.rescate {

}

.crowdfunding {

}

.galeria {
    background-color: cadetblue;
    margin: 1rem auto;
    width: 100%;
    max width: 970px;
    column-count: 3;

.galeria > figure > img {
    min-height: 200px;

}
@media (min-width: width 200px;){

}
